.font-chamados {
    color: rgb(224,4,11);
}

.space-image {
    padding-right: 6px;
}

.list-chamado {
    color: black;
}

.color-list {
    background: #f8f8f8;
}

.list-chamado > :hover{
    text-decoration: underline;
    cursor: pointer;
}

.scroll-down-chamado {
    height:  600px;
    overflow-y: auto;    
}

.customScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}