.font-chamados {
    color: rgb(224,4,11);
}

.space-image {
    padding-right: 6px;
}

.list-chamado {
    color: black;
}

.color-list {
    background: #f8f8f8;
}

.list-chamado > :hover{
    text-decoration: underline;
    cursor: pointer;
}

