<div class="container col-md-12">

  <div class="motorista-container wrapper col-md-4">
    <app-motoristas-list></app-motoristas-list>
  </div>

  <!--h2 class="col-lg-offset-1">Cadastro de Motoristas</h2-->
  <div class="col-md-8">
  <form #f="ngForm" (submit)="cadastrarMotorista(f)">
    <div class="col-lg-8 col-lg-offset-1 detail-cad-motorista">
      <div class="form-group">
        <label for="nome">Nome do Motorista:</label>
        <input type="text" required class="form-control" [(ngModel)]="name" name="nome" placeholder="Nome">
      </div>
      <div class="form-group">
        <label for="telefone">Telefone de Contato:</label>
        <input type="text" required class="form-control" [(ngModel)]="phone" name="telefone" placeholder="Telefone de Contato">
      </div>
      <br>

      <button type="submit" [disabled]="!f.valid"  class="col-lg-4 btn btn-primary">Cadastrar</button>
      <button type="button" (click)="limparCampos(f)" class="col-lg-4 col-lg-offset-2 btn btn-danger">Cancelar</button>
    </div>

  </form>
  </div>
</div>