<div class="modal-dialog">
  <div class="modal-content">
    <form #f="ngForm" (submit)="selecionarCarro(f)">
      <div class="modal-header">
        <h4 class="modal-title">Informações do Veículo</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="nome">Veículos:</label>
          <select [(ngModel)]="veiculo" class="form-control" id="nome" name="veiculo" required>
              <option *ngFor="let c of carros | async" [ngValue]="c">Modelo: {{ c.veiculo_speed }} - Placa: {{ c.veiculo_placa }}</option>
          </select>
        </div>
        <br>
      </div>

      <div class="modal-footer">
        <div class="col-md-3 pull-right">
          <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Confirmar</button>
        </div>
        <div class="col-md-3 pull-right">
          <button type="button" class="btn btn-danger" (click)="close()">Fechar</button>
        </div>
      </div>
    </form>
  </div>
</div>