a:focus, a:hover {
    text-decoration: underline !important;
    cursor: pointer  !important;
}

.color-list {
    background: #f8f8f8;
}

.detail-list {
    color: black;
    text-decoration: none;
    cursor: default;
}